<div class="main-content-jobs">
  <div class="job-container">

    <div class="container-fluid">
      <div class="row">
        <!-- first-->
        <div class="col-5">
          <div class="form-group">
            <label>Email address</label>
            <input type="text" placeholder="novikov@gmail.com" formControlName="email" class="form-control"
            />
          </div>
        </div>
        <div class="col-5 d-flex align-items-center">
          <p class="mb-0 mt-2">Change name</p>
        </div>
        <div class="col-2"></div>
        <!-- end first-->

        <!-- second-->
        <div class="col-5">
          <div class="form-group">
            <label>Name</label>
            <input type="text" placeholder="nick" formControlName="email" class="form-control"
            />
          </div>
        </div>


        <div class="col-5">
          <div class="form-group">
            <label>Surname</label>
            <input type="text" placeholder="Novikov" formControlName="email" class="form-control"
            />
          </div>
        </div>
        <div class="col-2"></div>
        <!--end second-->

        <!-- third-->
        <div class="col-5">
          <div class="form-group">
            <label>Male</label>
            <select class="form-control">
              <option>Man</option>
              <option>Woman</option>
            </select>
          </div>
        </div>


        <div class="col-5">
          <div class="form-group">
            <label>Day of birth</label>
            <input type="text" placeholder="22/11/1990" formControlName="email" class="form-control"
            />
          </div>
        </div>
        <div class="col-2"></div>
        <!--end third-->

        <!-- fourth-->
        <div class="col-10">
          <div class="form-group">
            <label>Contact details</label>
            <input type="text" placeholder="https://" formControlName="email" class="form-control"
            />
          </div>
        </div>

        <div class="col-2"></div>
        <!--end fourth-->

        <!-- fifth-->
        <div class="col-10">
          <div class="form-group">
            <label>About</label>
            <input type="text" placeholder="123" formControlName="email" class="form-control"
            />
          </div>
        </div>

        <div class="col-2"></div>

        <button type="button" class="ml-4 btn btn-primary">Save</button>
        <!--end fifth-->
      </div>
    </div>
    <!--    <div class="d-flex justify-content-between mb-3">-->
    <!--      <div class="title">Salary:<span class="desc"> {{job.salary}}$ per month</span></div>-->
    <!--      <div class="title">Stack:<span class="desc"> Java, Maven, Gradle</span></div>-->
    <!--      <div class="title">Type of employment:<span class="desc">{{job.type}}</span></div>-->
    <!--    </div>-->

  </div>

  <!--  <div class="job-container">-->
  <!--    <div class="d-flex justify-content-between">-->
  <!--      <div class="matches mb-4">Description</div>-->
  <!--    </div>-->

  <!--    <div class="job-description text-justify">-->
  <!--      {{job.description}}-->
  <!--    </div>-->

  <!--    <hr>-->

  <!--    <div class="d-flex justify-content-between">-->
  <!--      <div class="matches mb-4">Competencies</div>-->
  <!--    </div>-->

  <!--    <div class="d-flex justify-content-between mb-3">-->
  <!--      <div class="title ml-0">Language:<span class="desc pl-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, voluptatum.</span></div>-->
  <!--    </div>-->
  <!--    <div class="d-flex justify-content-between mb-3">-->
  <!--      <div class="title ml-0">Competency 1:<span class="desc pl-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, voluptates?</span></div>-->
  <!--    </div>-->
  <!--    <div class="d-flex justify-content-between mb-3">-->
  <!--      <div class="title ml-0">Competency 2:<span class="desc pl-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, minima!</span></div>-->
  <!--    </div>-->

  <!--  </div>-->

</div>
