<div class="main-content-jobs">
  <div class="job-container">
    <form [formGroup]="profileForm" (submit)="updateUser()">
    <div class="container-fluid">
      <div class="row">
        <!-- first-->
        <div class="col-5">
          <div class="form-group">
            <label>Email address</label>
            <input type="text" value="{{userInfo?.email}}" placeholder="novikov@gmail.com" formControlName="email" class="form-control"
            />
          </div>
        </div>
        <div class="col-5 d-flex align-items-center">
          <p class="mb-0 mt-2">Change name</p>
        </div>
        <div class="col-2"></div>
        <!-- end first-->

        <!-- second-->
        <div class="col-5">
          <div class="form-group">
            <label>Name</label>
            <input type="text" value="{{userInfo?.firstName}}" placeholder="nick" formControlName="firstName" class="form-control"
            />
          </div>
        </div>


        <div class="col-5">
          <div class="form-group">
            <label>Surname</label>
            <input type="text" value="{{userInfo?.lastName}}"  placeholder="Novikov" formControlName="lastName" class="form-control"
            />
          </div>
        </div>
        <div class="col-2"></div>
        <!--end second-->

        <!-- third-->
        <div class="col-5">
          <div class="form-group">
            <label>Male</label>
            <select class="form-control" formControlName='male'>
              <option>Man</option>
              <option>Woman</option>
            </select>
          </div>
        </div>


        <div class="col-5">
          <div class="form-group">
            <label>Day of birth</label>
            <input type="text" value="{{userInfo?.birth}}"  placeholder="22/11/1990" formControlName="birth" class="form-control"
            />
          </div>
        </div>
        <div class="col-2"></div>
        <!--end third-->

        <!-- fourth-->
        <div class="col-10">
          <div class="form-group">
            <label>Contact details</label>
            <input type="text" value="{{userInfo?.contactDetails}}"  placeholder="https://" formControlName="site" class="form-control"
            />
          </div>
        </div>

        <div class="col-2"></div>
        <!--end fourth-->

        <!-- fifth-->
        <div class="col-10">
          <div class="form-group">
            <label>About</label>
            <input type="text" value="{{userInfo?.about}}" placeholder="123" formControlName="about" class="form-control"
            />
          </div>
        </div>

        <div class="col-2"></div>

        <div class="col-5 mt-2 mb-4">
            <div>Your CV</div>
            <div class="upload-area d-inline-block">
              <img src="{{cv}}" alt="" />
            </div>
            <div class="upload-area d-inline-block ml-4 add">
              <div class="inner-block">
                <input [formGroup]="photoForm" (change)="uploadCV($event)" type="file" class="inner-block" name="" id="photo">
                <div>+</div>
                <div >Add new file</div>
              </div>
            </div>
        </div>
  
  
        <div class="col-5 mt-2 mb-4">
            <div>Your photo</div>
            <div class="upload-area d-inline-block">
              <img src="{{photo}}" alt="" />
            </div>
            <div class="upload-area d-inline-block ml-4 add">
              <div class="inner-block">
                <input [formGroup]="photoForm" (change)="uploadPhoto($event)" type="file" class="inner-block" name="" id="photo">
                <div>+</div>
                <div >Add new file</div>
              </div>
            </div>
        </div>
          
        <div class="col-2"></div>

        <button type="submit" id="btn" class="ml-4 btn btn-primary">Save</button>
        <!--end fifth-->
      </div>
    </div>
  </form>
    <!--    <div class="d-flex justify-content-between mb-3">-->
    <!--      <div class="title">Salary:<span class="desc"> {{job.salary}}$ per month</span></div>-->
    <!--      <div class="title">Stack:<span class="desc"> Java, Maven, Gradle</span></div>-->
    <!--      <div class="title">Type of employment:<span class="desc">{{job.type}}</span></div>-->
    <!--    </div>-->

  </div>
   <app-competencies-area></app-competencies-area>
</div>
