<div class="sort-area mb-5 mt-3">
  <ul >
    <li class="d-inline-block ml-3 mr-3 active" routerLink="suggestions">Suggestions</li>
    <li class="d-inline-block ml-3 mr-3" routerLink="my-applications">My applications</li>
    <li class="d-inline-block ml-3 mr-3" routerLink="interviews">Interviews</li>
  </ul>
</div>

<app-spinner *ngIf="loading"></app-spinner>
<app-job-position [hasCloseBtn]="true" [list]="vacancies"></app-job-position>
<p class="text-center" *ngIf="vacancies.length === 0 && !loading" >No vacansies</p>

