<div class="title">
  Job oppenings
</div>

<div class="main-content-jobs" >
  <div class="job-container" >
    <div class="d-flex justify-content-between">
      <div class="job-title">{{job.position}}</div>
      <div class="matches">Test Company name</div>
    </div>
    <hr>
    <div class="d-flex justify-content-between mb-3">
      <div class="title">City:<span class="desc"> {{job.city}}</span></div>
      <div class="title">Country:<span class="desc"> {{job.country}}</span></div>
      <div class="title">Position:<span class="desc"> {{job.position}}</span></div>

    </div>

    <div class="d-flex justify-content-between mb-3">
      <div class="title">Salary:<span class="desc"> {{job.salary}}$ per month</span></div>
      <div class="title">Stack:<span class="desc"> {{job.stack}} </span></div>
      <div class="title">Type of employment:<span class="desc">{{job.type}}</span></div>
    </div>

  </div>

  <div class="job-container">
    <div class="d-flex justify-content-between">
      <div class="matches mb-4">Description</div>
    </div>

    <div class="job-description text-justify">
      {{job.description}}
    </div>

    <hr>

    <div class="d-flex justify-content-between">
      <div class="matches mb-4">Competencies</div>
    </div>

    <div class="d-flex justify-content-between mb-3">
      <div class="title ml-0">Language:<span class="desc pl-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, voluptatum.</span></div>
    </div>
    <div class="d-flex justify-content-between mb-3">
      <div class="title ml-0">Competency 1:<span class="desc pl-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, voluptates?</span></div>
    </div>
    <div class="d-flex justify-content-between mb-3">
      <div class="title ml-0">Competency 2:<span class="desc pl-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, minima!</span></div>
    </div>

  </div>

</div>
<div class="title">
  <button type="button" (click)="apply()" class="btn btn-primary mb-4">Apply</button>
</div>

