<div class="sidebar">
  <app-sidebar></app-sidebar>
</div>
<main class="main-content">
  <div class="header-input-area">
<!--    to do inputs-->
    <div class="input-container">
        <form>
          <div class="form-row">
            <div class="col">
              <select class="form-control">
                <option>All categories</option>
              </select>
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Search..." style="width: 600px">
            </div>
            <div class="col"></div>
            <div class="col"></div>
          </div>
        </form>
    </div>
    <hr>
  </div>

  <div class="jobs-opening-container ">
    <router-outlet></router-outlet>
  </div>
</main>
