.sort-area {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;

}

li{
  cursor: pointer;
}

li:hover {
  opacity: 0.8;
}

li.active {
  position: relative;
}

li.active:after {
  content: '';
  position: absolute;
  width: 100%;
  background: #5E81F4;
  height: 4px;
  top: 100%;
  left: 0;
}

.header-container {
  display: flex;
  flex-flow: row wrap;
  color: #717171;

  .title {
    padding-left: 5%;
    font-weight: 700;
    color: #131336;
  }

  .selected {
    color: #131336;
    font-weight: 600;
  }

  .item {
    cursor: pointer;
  }

  .sort-params-container {

    font-size: 16px;
    padding-right: 5%;
    span{
      padding-right: 20px;
    }
  }
}


