<div (click)="setPage($event)" class="header-container d-flex justify-content-between">
  <ul class="title" >
    <li [class.active]="selectedRoute === applicants" class="d-inline-block ml-3 mr-3" id="{{applicants}}">Applicants</li>
    <li [class.active]="selectedRoute === mySuggestions" class="d-inline-block ml-3 mr-3" id="{{mySuggestions}}" >My suggestions</li>
    <li [class.active]="selectedRoute === interviews" class="d-inline-block ml-3 mr-3" id="{{interviews}}" >Interviews</li>
  </ul>
  <div class="sort-params-container">
    <span>Sorted by:</span>
    <span class="selected item">Conformity</span>
    <span class="item">Newest</span>
  </div>
</div>
