<div class="wrapper">
  <div class="login-part">
    <app-logo></app-logo>
    <div class="form-window">
      <div class="form-content" #windowState>
        <app-spinner *ngIf="showSpinner"></app-spinner>
        <div *ngIf="showForms">
          <div class="form-header">
            <span>Sign Up</span>
          </div>
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div *ngIf="hasSignUpError()" class="alert alert-danger">
              {{errorMessage}}
            </div>

            <div class="form-group">
              <label>Email address</label>
              <input type="text" placeholder="alpeev@gmail.com" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors, 'is-valid': submitted && !f.email.errors }" />
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email address is required</div>
                <div *ngIf="f.email.errors.email">Email adress must be valid</div>
              </div>
            </div>

            <div class="form-group">
              <label>Choose a role</label>
              <select class="form-control" formControlName="role" >
                <option>employeer</option>
                <option>employee</option>
              </select>
            </div>

            <div class="form-group">
              <label>Login</label>
              <input type="text" placeholder="David Ustimov" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors, 'is-valid': submitted && !f.email.errors }" />
              <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                <div *ngIf="f.firstName.errors.required">Login is required</div>
              </div>
            </div>

            <div class="form-group">
              <label>Password</label>
              <input type="password" placeholder="Password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors, 'is-valid': submitted && !f.email.errors }" />
              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required</div>
                <div *ngIf="f.password.errors.minlength">lenght of password must be at least 6 charts</div>
              </div>
            </div>
            <div class="form-group">
              <label>Confirm password</label>
              <input type="password" placeholder="Confirm password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors, 'is-valid': submitted && !f.email.errors }" />
              <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                <div *ngIf="f.confirmPassword.errors.required">Confirm password is required</div>
                <div *ngIf="f.confirmPassword.errors.mustMatch">Different passwords</div>
              </div>
            </div>
            <div class="form-group">
              <button class="btn btn-primary">Sign Up</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <app-right-dashboard></app-right-dashboard>
</div>
