@import url('https://fonts.googleapis.com/css?family=Proxima+Nova');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=cyrillic');

body {
  margin: 0;
}

/*.bg-account {
  background: url(assets/images/bg-account-pages.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow-y: auto;
}*/

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(27, 27, 27, 0.69);
}
